<h1>The name of your project is: <%= @project.project_name %></h1>

<h1>TEST</h1>

<% if @project.volunteers.any? %>
  <h3>Here are all the volunteers working on this project:</h3>

  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.volunteer_name %></a> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no volunteers on this project!</p>
  <% end %>


<h3>Add a volunteer to <%= @project.project_name %> </h3>

<form action="/volunteers_add" method="post">
  <input id="project_id" name="project_id" type="hidden" value="<%= @project.id() %>">

  <label for="volunteer_name">Name of the volunteer:</label>
  <input id="volunteer_name" name="volunteer_name" type="text">

  <button type="submit">Add volunteer</button>
</form>



<hr>

  <a href="/"><button class="btn">Home</a>
  <br>
  <a href="/projects">View All Projects</a>
  <br>

<p><a href="/projects/<%= @project.id() %>/edit">Edit <%= @project.project_name %> project</a></p>
<br>
<br>
