<h1>This page works</h1>
<h1>Update your <%= @volunteer.volunteer_name %> </h1>
<h1>The name of volunteer is: <%= @volunteer.volunteer_name %></h1>


 <a href="/volunteers/<%= @volunteer.id() %>/edit" class="btn btn-info">Edit Volunteer Details</a> 





<h1>Update the <%=@volunteer.volunteer_name() %> name </h1>

<form action="/volunteers/<%= @volunteer.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename your volunteer:</label>
  <input id="name" name="volunteer_name" type="text">

  <button type="submit">Update</button>
</form>

<form action="/volunteers/<%= @volunteer.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete this volunteer</button>
</form>

<a href="/" class="btn">Home</a>
